doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Exo:300,400,600|Open+Sans:300,400,600,700&amp;subset=latin-ext')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    link(rel='stylesheet', href='/styles/main.min.css')
  body
    block content
